{% extends "base.html" %} {% block content %}
    <br><br>
<form method="POST">
    {{ form.hidden_tag() }}
        <table class="table table-light table-bordered" style="table-layout:auto">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Year</th>
                    <th scope="col">Remove a Student</th>
                </tr>
            </thead>
            <tbody>
            {% for person in attendance %}
                <tr class="table-hover" id="{{person.id}}">
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.classYear }}</td>
                    <td>
{#                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">#}
{#                             Remove Student</button>#}
                        <button type="submit" value="{{person.id}}" class="btn btn-danger btn-sm" id="delete_id" name="delete_id">
                            <i class="bi bi-x-circle-fill"></i> Remove Student</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</form>
                <!-- Modal -->

    <a href="{{ url_for('view.track_att', id= item.id)}}" class="btn btn-outline-dark btn-sm">Back to Attendance List</a>
{% endblock content %}