{% extends "base.html" %}
{% block content %}
<br/>
{% for x in events %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h4><a href="{{ url_for('view.open_event', id=x.id)}}">{{ x.title }}</a></h4>
        <small> Date of Event: {{ x.date.strftime('%A %b %d %Y at %I:%M %p ') }}<br/> </small> <br/><br/>
        {{ x.note|safe }}
        <br/><br/>
        <a href="{{ url_for('view.open_event',id= x.id)}}" class="btn btn-outline-secondary">View Event</a>
        {% if x.user_id == current_user.id %}
            <a href="{{ url_for('view.edit_event',id = x.id)}}" class="btn btn-outline-primary">Edit Event</a>
            <a href="{{ url_for('view.delete_event', id= x.id)}}" class="btn btn-outline-danger">Delete Event</a>
        {% endif %}
        <br/><br/>
    </div>
    <br/>
{% endfor %}

{% endblock content %}