{% extends "base.html" %} {% block content %}
    <br/>
	<h2>You Searched For: <em>{{ searched }}</em></h2>
	<br/>
    {% if student %}
        {% for found in student %}
            <div class="">
             <summary> {{ found.name }}, {{ found.email }} <small> {{ found.classYear }} </small> </summary> <br/>
            </div>
        {% endfor %}
    {% else %}
	    Sorry, your search for: <strong>{{ searched }}</strong> was not found in any attendance list...
        <br/> <br/>
	{% endif %}
{% endblock content %}