{% extends "base.html" %} {% block content %}
        <h1>{{header}}</h1>
        <div id="chart" class="chart"></div>
        <div>{{description}}</div> <br/>
        <div id="piechar" class="chart"></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    {% if user.is_authenticated %}
        <script type='text/javascript'>
            let graphs = "";
            graphs = {{ graphJSON | safe}};
            Plotly.plot('chart',graphs,{});
            {#possibly remove#}
            let pchart = "";
            pchart = {{ pie | safe}};
            Plotly.plot('piechar',pchart,{});
        </script>
    {% endif %}
    <br/>
    <a href="{{ url_for('view.open_event',id= item)}}" class="btn btn-outline-secondary btn-sm">Back to Event</a>
{% endblock content %}